.options-block-hidden {
  max-width: 382px;
  border-radius: 6px;
  position: fixed;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.28s ease;
  // если сделать transition: all 0.28s ease;,
  // то этот блок будет дёргаться при скроле

  @media screen and (min-width: 576px) {
    max-width: 210px;
  }

  @media screen and (min-width: 768px) {
    max-width: 210px;
    margin: 0;
  }
}

.options-block-visible {
  max-width: 382px;
  border-radius: 6px;
  position: fixed;

  margin: 0 auto;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.28s ease;
  // если сделать transition: all 0.28s ease;,
  // то этот блок будет дёргаться при скроле

  @media screen and (min-width: 576px) {
    max-width: 210px;
  }

  @media screen and (min-width: 768px) {
    max-width: 210px;
    margin: 0;
  }
}
