.logotype {
  text-decoration: none;
  outline: none;

  // logotype__large
  &__large {
    display: none;

    @media screen and (min-width: 576px) {
      display: block;
    }
  }

  // logotype__small
  &__small {
    display: block;

    @media screen and (min-width: 576px) {
      display: none;
    }
  }
}
