.management {
  &__department-title {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 48px;

    @media screen and (min-width: 576px) {
      font-size: 34px;
      line-height: 48px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__offis-man {
    width: 100%;
    margin-bottom: 24px;

    @media screen and (min-width: 576px) {
      width: 50%;
    }

    &:nth-of-type(2n) {
      padding-left: 0;

      @media screen and (min-width: 576px) {
        padding-left: 40px;
      }
    }
  }

  &__man-name {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #000000;
  }
}
